<div class="container d-flex justify-content-center">
<div class="row">
  <form [formGroup]="miFormulario" (ngSubmit)="transferMoney()" class="mt-5" style="width: 40rem;">
    <div class="form-group mb-3">
      <h2 class="text-info text-center fw-bold mb-3">Transferencias</h2>
      <label class="my-2"><i class="fa-solid fa-dollar-sign text-info mx-1"></i>Valor a depositar</label>
      <input type="number" class="form-control" placeholder="Ingrese el valor a depositar"
        formControlName="transferValue">
      <div class="form-text text-danger" *ngIf="transferValueField?.invalid && transferValueField?.touched">
        <div *ngIf="transferValueField?.errors?.['required']">
          Favor diligenciar el valor a depositar
        </div>
        <div *ngIf="transferValueField?.errors?.['min']">
          No se aceptan números negativos
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="my-2"><i class="fa-solid fa-wallet text-info mx-1"></i>Numero de cuenta</label>
      <input type="number" class="form-control" placeholder="Ingrese el número de la cuenta a la que va a transferir"
        formControlName="transferAccount">
      <div class="form-text text-danger" *ngIf="transferAccountField?.invalid && transferAccountField?.touched">
        <div *ngIf="transferAccountField?.errors?.['required']">
          Favor ingresar el número de cuenta a transferir
        </div>
        <div *ngIf="transferAccountField?.errors?.['min']">
          No se aceptan números negativos
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-info mb-4" [disabled]="!miFormulario.valid">
      Transferir
    </button>
  </form>
  <p class="">
    El valor disponible en su cuenta es de: 
   <span class="span">{{myAccount()| number}}</span>
  </p>
  <table *ngIf="myUser.transactions.length>0" class="table mt-2 table-info" style="width: 23rem;">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Número de la transacción</th>
        <th scope="col" class="text-center">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <ul>
            <li *ngFor="let transaction of myUser.transactions; index as i">{{i+1}}</li>
          </ul>
        </th>
        <td>
          <ul class="text-center">
            <li *ngFor="let transaction of myUser.transactions">{{transaction.transferAccount}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let transaction of myUser.transactions">{{transaction.transferValue | number}}</li>
          </ul>
        </td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>
</div>