<div class="container">
  <div class="row">
    <h3 class="text-center mt-5 mb-4 text-info fw-bold">{{title}}</h3>
    <p class="text-end fw-lighter"> {{date | date:'medium'}}</p>
    <p><span class="fw-bold">Nombre Completo</span>: {{myUser.fullName | titlecase}}</p>
    <p><span class="fw-bold">Correo Electrónico</span>: {{myUser.email}}</p>
    <p><span class="fw-bold">Cargo</span>: {{myUser.rol | titlecase}}</p>
    <p><span class="fw-bold">Username</span>: {{myUser.username}}</p>
    <p><span class="fw-bold">Número De Cuenta</span>: {{myUser.numberAccountBalance}}</p>
    <p><span class="fw-bold">Saldo Cuenta</span>: {{myUser.accountBalance| number}}</p>
    <p><span class="fw-bold">Número de transacciones realizadas</span>: {{myUser.transactions.length}}</p>
    <table *ngIf="myUser.transactions.length>0" class="table mt-2 table-info" style="width: 23rem;">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Número de la transacción</th>
          <th scope="col" class="text-center">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <ul>
              <li *ngFor="let transaction of myUser.transactions; index as i">{{i+1}}</li>
            </ul>
          </th>
          <td>
            <ul class="text-center">
              <li *ngFor="let transaction of myUser.transactions">{{transaction.transferAccount}}</li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let transaction of myUser.transactions">{{transaction.transferValue | number}}</li>
            </ul>
          </td>
        </tr>
        <tr>
      </tbody>
    </table>
    <p><span class="fw-bold">Número de cuentas de amigos creadas</span>: {{myUser.friends.length}}</p>
    <table *ngIf="myUser.friends.length>0" class="table mt-2 table-info" style="width: 23rem;">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">Número de cuenta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <ul>
              <li *ngFor="let friend of myUser.friends; index as i">{{i+1}}</li>
            </ul>
          </th>
          <td>
            <ul>
              <li *ngFor="let friend of myUser.friends">{{friend.fullName | titlecase}}</li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let friend of myUser.friends">{{friend.numberAccountBalance}}</li>
            </ul>
          </td>
        </tr>
        <tr>
      </tbody>
    </table>
    <div>
      <img brokeImage class="container-image" style="width: 20rem;" src="assets/images/bluePiggyBank.png">
    </div>
  </div>
