<div class="container d-flex justify-content-center">
  <form [formGroup]="miFormulario" (ngSubmit)="withdrawal()" class="mt-5" style="width: 40rem;">
    <div class="form-group mb-3">
      <h2 class="text-info text-center fw-bold mb-3">Retiros</h2>
      <label class="my-2"><i class="fa-solid fa-dollar-sign text-info mx-1"></i>Valor a retirar</label>
      <input type="number" class="form-control" placeholder="Ingrese el valor a retirar"
        formControlName="withdrawalValue">
      <div class="form-text text-danger" *ngIf="withdrawalField?.invalid && withdrawalField?.touched">
        <div *ngIf="withdrawalField?.errors?.['required']">
          Favor ingresar el valor a retirar
        </div>
        <div *ngIf="withdrawalField?.errors?.['min']">
          No se aceptan números negativos
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-info" [disabled]="!miFormulario.valid">
      Retirar
    </button>
    <div class="mt-4">
      El valor disponible en su cuenta es de {{getBalanceAccount() | number}}
    </div>
  </form>
</div>
