<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Selecciona una categoría
    </button>
    <div class="dropdown-menu" aria-labelledby="categoryDropdown">
        <a class="dropdown-item" href="#"
            (click)="filterByCategory('Programacion'); $event.preventDefault()">Programacion</a>
        <a class="dropdown-item" href="#" (click)="filterByCategory('Redes'); $event.preventDefault()">Redes</a>
        <a class="dropdown-item" href="#" (click)="filterByCategory('TI'); $event.preventDefault()">TI</a>
        <!-- ... más categorías aquí -->
        <a class="dropdown-item" href="#" (click)="filterByCategory(''); $event.preventDefault()">Mostrar todos</a>
    </div>
</div>
<div class="video-list">
    <div class="video-item" *ngFor="let video of filteredVideos">
        <span data-toggle="modal" data-target="#videoModal" (click)="setVideoUrl(video)" class="video-playable">
            <span class="video-icon">🎥</span>
            {{ video }}
        </span>
        <button class="btn btn-danger" (click)="deleteVideo(video, $event)">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</div>

<!-- Modal para reproducir el video -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <video #videoPlayer *ngIf="selectedVideoUrl" controls class="w-100">
                    <source #videoSource [src]="selectedVideoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>