<nav class="nav flex-column">
  <a class="nav-link text-light mb-3 mt-5" [routerLink]="['/pages/upload']"><span class="fa fa-angles-up mx-2 text-info"></span>subir video</a>
  <a class="nav-link text-light my-3" [routerLink]="['/pages/videos']"><span class="fa fa-file mx-2 text-info"></span>Galeria</a><!-- 
  <a class="nav-link text-light my-3" [routerLink]="['/pages/createAccount']"><span class="fa fa-users mx-2 text-info"></span>Crear Cuentas</a>
  <a class="nav-link text-light my-3" [routerLink]="['/pages/withdrawals']"><span class="fa fa-angles-down mx-2 text-info"></span>Retirar Dinero</a>
  <a class="nav-link text-light my-3" [routerLink]="['/pages/tranfer']"><span class="fa fa-arrow-right-arrow-left mx-2 text-info"></span>Transferir Dinero</a> -->
</nav>


